/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Все ниже перечисленные элементы были скрыты с chel.en.cx, */
/* стили не используются и не поддерживают,                  */
/* работоспособность этого кода не гарантируется             */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ---------------- */
/* Главная страница */
/* --------------- */

/* Разрешаем перенос заголовка приветственного сообщения на главной */
#boxCenterIntro tr > td:nth-child(2) {
  white-space: normal;
}

/* Центрирование ссылки на промо видео */
#boxMovie img {
  margin-left: auto;
  margin-right: auto;
}

/* ------------ */
/* Главное меню */
/* ------------ */

/* Скрываем ссылку на мобильную версию и ответкую часть */
.menuWrap > tbody > tr:first-child > td:first-child,
.menuWrap > tbody > tr:first-child > td:last-child {
    display: none;
}

/* Позволяем меню работать на любых экранах */
.menu {
  width: auto;
}

/* Изменения для мобильной верстки */
.menu li {
  width: auto;
}
.menu li > .wr > a {
  padding-left: 5px;
  padding-right: 5px;
}

/* Планшеты и ПК */
@media (min-width: 768px) {
  .menu li {
    width: 124px;
  }
  .menu li > .wr > a {
    padding-left: 0;
    padding-right: 0;
  }
}
